footer {
  height: 160px;
  background-color: #f2f0fa;
  padding:0rem;
  display: flex;
  align-items: center;
  justify-content:center;
}
.logo_footer{
  width:22%;
}
.logo_footer img {
  width: 70px;

}
.footer_content {
  width: 100%;
  margin-top: 3%;
  text-align: center;
  display: flex;
}
.legal {
  width: 30%;
  height:100%;
  margin-top:3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.legal a {
  font-family: "Rubik";
  font-size: 17px;
  text-decoration: none;
  color: black;
  margin-top:-10%;
  margin-right: 5%;
}

.social_media i{
  font-size: 27px;
  padding: 7px;
}
.social_media {
  width: 30%;
  height: 40%;
  display:flex;

}
.social_media a {
  margin-left: 4%;
  padding: 12px;
  border-radius: 50%;
  color: #3d3363;
  background-color: rgb(218, 218, 238);
  transition: all 0.5s;
}

@media all and (min-width:1200px) and (max-width: 1919px) {

	.footer_content {
		width: 100%;
	}
	.legal {
		width: 90%;
		margin-left: 9%;
	}
}

@media all and (min-width: 769px) and (max-width: 959px) { 

  footer{
      height: 10vh;
  }
  .legal a{
      font-size: 15px;
  }
  .social_media {
      margin-left: 0%;
  }
}

@media all and (max-width: 479px) { 
  footer{
      height: 10vh;
      padding: 5%;
  }
  .footer_content {
      width: 100%;
  }
  .legal{
      width: 100%;
      margin-right:30%;
  }
  .legal a{
      font-size: 8px;
  }
  .logo_footer img {
      display: none;
  }
  .social_media {
      width: 50%;
      margin-left: 0%;
  }
  .social_media i{
    font-size:15px;
  }
  .social_media a{
      width:25px;
      font-size: 15px;
      height:25px;
  }
}