footer {
  height: 80px;
  background-color: #f2f0fa;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo_footer img {
  width: 40px;
}
.footer_content {
  width: 80%;
  height: 70px;
  margin-top: 3%;
  text-align: center;
  display: flex;
}
.legal {
  width: 100%;
  height: 75%;
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.legal a {
  font-family: "Rubik";
  font-size: 12px;
  text-decoration: none;
  color: black;
  margin-right: 5%;
}

.social_media i{
  font-size: 25px;
  padding: 4px;
}
.social_media {
  width: 80%;
  height: 40%;
  display:flex;
  margin-left: 35%;
}
.social_media a {
  font-size: 30px;
  margin-left: 4%;
  padding: 5px;
  border-radius: 50%;
  color: #3d3363;
  background-color: rgb(218, 218, 238);
  transition: all 0.5s;
}

@media all and (min-width:1200px) and (max-width: 1919px) {

	.footer_content {
		width: 100%;
	}
	.legal {
		width: 90%;
		margin-left: 9%;
	}
}

@media all and (min-width: 769px) and (max-width: 959px) { 

  footer{
      height: 10vh;
  }
  .legal a{
      font-size: 15px;
  }
  .social_media {
      margin-left: 0%;
  }
}

@media all and (max-width: 479px) { 
  footer{
      height: 10vh;
      padding: 5%;
  }
  .footer_content {
      width: 100%;
  }
  .legal{
      width: 100%;
  }
  .legal a{
      font-size: 11px;
  }
  .logo_footer img {
      display: none;
  }
  .social_media {
      width: 50%;
      margin-left: 0%;
  }
  .social_media a{
      width:25px;
      font-size: 15px;
      height:25px;
  }
}