$color_1: #10102c;
$color_2: white;
$color_3: rgb(0, 0, 0);
$color_4: transparent;
$color_5: grey;
$color_6: rgb(129, 114, 212);
$font-family_1: "circular";
$font-family_2: "Rubik";
$background-color_1: #ffffff;
$background-color_2: rgb(15, 15, 15);
$background-color_3: white;



// seccion 1 slider
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -200%;
  }
  99% {
    margin-left: -200%;
  }
  0% {
    margin-left: -0;
  }
}
/* section 1 */
.s1 {
  width: 100%;
  height: 70vh;
  background-color: $background-color_1;
  background: linear-gradient(180deg, #ffffff 0%, #acaecc48 100%, #ffffff 100%);
  display: flex;
  justify-content: space-between;
}
.btn1 {
  width: 160px;
  height: 50px;
  p {
    font-size: 16px;
  }
}
.s1_content {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  img {
    width: 300px;
    height: 300px;
  }
}
.txt {
  margin-bottom: 70px;
  text-align: center;
  h1 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    font-family: $font-family_1;
    color: $color_1;
    text-shadow: 3px 12px 16px #8c8796;
  }
  p {
    font-size: 19px;
    font-family: $font-family_2;
    margin-bottom: 10px;
  }
}
.btn-s1 {
  border: none;
  top: 670px;
  right: 120px;
  display: flex;
  justify-content: center;
  p {
    margin-top: 6.5%;
  }
}
.slider {
  width: 35%;
  height: 70vh;
  overflow: hidden;
  background-color: $background-color_2;
  ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 30s infinite normal ease-in-out;
    color: $color_2;
    font-family: $font-family_1;
    text-align: center;
  }
  li {
    width: 100%;
    padding: 3%;
    list-style: none;
  }
  h5 {
    font-size: 25px;
    margin-top: 10%;
  }
  p {
    font-size: 17px;
    margin-top: 3em;
  }
}

/* section 2 */
.s2 {
  width: 100%;
  height: 66vh;
  background-color: $background-color_3;
  padding: 2.5% 12%;
  display: flex;
  justify-content: space-evenly;
  img {
    width: 535px;
    height:475px;
    margin-top: 3.5%;
  }
}
.s2_content {
  margin-top: 7%;
  margin-left: 8%;
  width: 600px;
  h2 {
    font-size: 54px;
    text-shadow: 3px 12px 16px #9796998a;
    font-weight: 300;
    font-family: $font-family_1;
    margin-bottom: 7%;
  }
  p {
    font-size: 18px;
    font-family: $font-family_2;
    color: $color_3;
    margin-top: 2%;
    line-height: 1.57;
  }
}

/* section 3 */
.s3 {
  width: 100%;
  height: 44vh;
  background-color: rgba(246, 244, 244, 0.76);
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    font-size: 60px;
    font-family: $font-family_1;
    color: $color_4;
    margin-top: 3%;
    margin-bottom: 4%;
    background: #757592;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(248, 247, 247, 0.5);
  }
}
.s3_content {
  width: 90%;
  padding: 0% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont1 {
  margin-left: 8%;
  margin-top: 0%;
  p {
    font-size: 20px;
    margin-top: 6%;
    line-height: 1.3;
    font-family: $font-family_2;
  }
}
.cont2 {
  margin-left: 8%;
  p {
    font-size: 20px;
    margin-top:12%;
    line-height: 1.3;
    font-family: $font-family_2;
  }
}

/* section 4 */
.s4 {

  width: 100%;
  height: 82vh;
  background-color: $background-color_3;
  display: flex;
  justify-content: center;
}
.s4_content {
  width: 1600px;
  h2 {
    font-size: 50px;
    font-family: $font-family_1;
    font-weight: 300;
    color: $color_3;
    text-align: center;
    margin-top: 4.5%;
  }
  h3 {
    font-size: 26px;
    color: $color_5;
    font-weight: 300;
    text-align: center;
    font-family: $font-family_1;
    margin-top: 1%;
  }
}
.box {
  text-align: center;
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  img {
    width: 430px;
  }
}
.box1 {
  padding-right: 4.5%;
  i {
    margin-bottom: 5%;
    color: $color_6;
    font-size: 40px;
  }
  h4 {
    font-size: 22px;
    font-family: $font-family_1;
  }
  p {
    font-size: 16px;
    color: $color_5;
    font-family: $font-family_2;
    margin-top: 3%;
  }
}
.box2 {
  padding-left: 5%;
  i {
    color: $color_6;
    margin-bottom: 5%;
    font-size: 40px;
    margin-top: 12%;
  }
  h4 {
    font-size: 22px;
    font-family: $font-family_1;
  }
  p {
    margin-top: 3%;
    font-size: 16px;
    color: $color_5;
    font-family: $font-family_2;
  }
}

/* section 5 */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 7));
  }
}
.s5 {
  width: 100%;
  height: 37vh;
  -webkit-box-shadow: -2px -15px 33px -1px rgba(211, 211, 211, 0.96);
  box-shadow: -2px -15px 33px -1px rgba(236, 231, 231, 0.96);
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.main-button {
  background-image: linear-gradient(
    to right,
    #6363d3 0%,
    #1e287c 51%,
    #5454ee 100%
  );
  text-align: center;
  font-family: $font-family_2;
  transition: 0.5s;
  border-radius: 35px !important;
  background-size: 200% auto;
  color: $color_2;
  display: block;
  cursor: pointer;
  border-bottom: 5px solid rgb(148, 138, 243);
  border-right: 5px solid rgb(148, 138, 243);
  border-left: 5px solid rgb(148, 138, 243);
  border-top: 5px solid rgb(148, 138, 243);
  &:hover {
    background-position: right center;
    color: $color_4;
    text-decoration: none;
  }
  a {
    color: $color_4;
  }
}
.free-oku {
  background-color: $background-color_1;
  -webkit-box-shadow: 1px -1px 39px -1px rgba(188, 188, 188, 0.96);
  box-shadow: 1px -1px 39px -1px rgba(188, 188, 188, 0.96);
  width: 1050px;
  height: 180px;
  position: absolute;
  z-index: 2;
  top: -90px;
  border-radius: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  p {
    text-decoration: none;
    color: $color_3;
    font-family: $font-family_1;
    font-size: 32px;
    margin-top: 4%;
    margin-left: 2%;
  }
}

.btn4 {
  width: 200px;
  height: 60px;
  margin-right: 2%;
  p {
    font-size: 18px;
    margin-top: 8%;
    color: $color_2;
  }
}
.slider2 {
  background: white;
  height: 100px;
  margin-top: 6.5%;
  overflow: hidden;
  position: relative;
  width: 90%;
  &::before {
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
    left: 0;
    top: 0;
  }
  &::after {
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slide-track {
    animation: scroll 18s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(250px * 14);
  }
  .slide {
    width: 250px;
    margin-left: 3%;
  }
}

// 479
@media all and (max-width: 479px) {
  .s1 {
    flex-direction: column;
    .s1_content {
      padding-block: 3rem;
      flex-direction: column;
      width: 100%;

      .txt {
        margin-bottom: 0;
      }
    }
    .slider {
      width: 100%;
      padding: 0;

      ul {
        li {
          padding: 0;
        }
      }
    }
  }

  .s2 {
    height: 100%;
    flex-direction: column;

    .s2_content {
      margin: 0;
      width: 100%;

      h2 {
        text-align: center;
      }
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  .s3 {
    .s3_content {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .cont1 {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100px;
      max-width: none;

      .cont__icon {
        width: 30%;
      }

      p {
        margin: 0;
      }
    }

    h4 {
      text-align: center;
      margin: 0;
    }
  }

  .s4 {
    img {
      display: none;
    }

    .s4_content {
      .box {
        padding-inline: 1rem;
        gap: 2rem;

        .box1 {
          padding: 0;
        }

        .box2 {
          padding: 0;
        }
      }
    }
  }

  .s5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .slider2 {
      display: flex;
      align-items: center;
      margin: 0;
    }

    .free-oku {
      display: none;
    }
  }
}
// @media all and (min-width: 960px) and (max-width: 1199px) {

// /* Responsive  */
// @media all and (min-width: 1200px) and (max-width: 1919px) {
//   .s1_content img {
//     width: 230px;
//     height: 230px;
//   }
//   .txt {
//     width: 58%;
//     margin-bottom: 30px;
//   }
//   .txt h1 {
//     font-size: 50px;
//   }
//   .txt p {
//     font-size: 17px;
//   }

//   .btn-s1 {
//     top: 520px;
//   }
//   .btn1 {
//     width: 150px;
//     height: 45px;
//   }
//   .btn1 p {
//     font-size: 14px;
//   }
//   .slider h3 {
//     font-size: 17px;
//   }
//   .slider h5 {
//     font-size: 30px;
//   }
//   .slider p {
//     font-size: 15px;
//     margin-top: 50%;
//   }
//   // seccion 2
//   .s2 {
//     padding: 5% 4%;
//   }
//   .s2 img {
//     width: 550px;
//     height: 450px;
//   }
//   .s2_content {
//     width: 485px;
//     margin-right: 4%;
//   }
//   .s2_content h2 {
//     font-size: 30px;
//   }
//   .s2_content p {
//     font-size: 15px;
//     line-height: 1.4;
//   }
//   // seccion 3
//   .s3 h4 {
//     font-size: 45px;
//   }
//   .cont1 p {
//     font-size: 16px;
//   }
//   .cont2 p {
//     font-size: 17px;
//   }

//   // seccion 4
//   .s4 {
//     height: 95vh;
//   }
//   .box img {
//     width: 380px;
//   }

//   .s4_content h2 {
//     font-size: 40px;
//   }
//   .box1 {
//     padding-right: 4%;
//   }

//   .box1 i {
//     font-size: 30px;
//   }
//   .box1 h4 {
//     font-size: 18px;
//   }
//   .box1 p {
//     padding: 0% 12%;
//     font-size: 14px;
//   }
//   .box2 {
//     padding-left: 4%;
//   }

//   .box2 i {
//     font-size: 30px;
//   }
//   .box2 h4 {
//     font-size: 18px;
//   }
//   .box2 p {
//     padding: 0% 12%;
//     font-size: 14px;
//   }

//   // seccion 5
//   .free-oku {
//     width: 900px;
//     height: 155px;
//     top: -55px;
//   }
//   .free-oku p {
//     font-size: 28px;
//   }
//   .btn4 {
//     width: 160px;
//     height: 50px;
//   }
//   .btn4 p {
//     font-size: 13px;
//     color: white;
//   }
// }

// @media all and (min-width: 768px) and (max-width: 958px) {
// }

// @media all and (min-width: 599px) and (max-width: 768px) {
// }
