$color_1: #10102c;
$color_2: white;
$color_3: rgb(0, 0, 0);
$color_4: transparent;
$color_5: grey;
$color_6: rgb(129, 114, 212);
$font-family_1: "circular";
$font-family_2: "Rubik";
$background-color_1: #ffffff;
$background-color_2: rgb(15, 15, 15);
$background-color_3: white;



// seccion 1 slider
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -200%;
  }
  99% {
    margin-left: -200%;
  }
  0% {
    margin-left: -0;
  }
}
/* section 1 */
.s1 {
  width: 100%;
  height: 75vh;
  margin-top: 130px;
  background-color: $background-color_1;
  background: linear-gradient(180deg, #ffffff 0%, #acaecc48 100%, #ffffff 100%);
  display: flex;
  justify-content: space-between;
}
.btn1 {
  text-decoration: none;
  p {
    font-size: 17px;
    margin-top: 9%;
  }
}
.s1_content {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  img {
    width: 300px;
    height: 300px;
  }
}
.txt {
  margin-bottom: 70px;
  text-align: center;
  h1 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    font-family: $font-family_1;
    color: $color_1;
    text-shadow: 3px 12px 16px #8c8796;
  }
  p {
    font-size: 19px;
    font-family: $font-family_2;
    margin-bottom: 10px;
  }
}
.btn-s1 {
  border: none;
  top: 670px;
  right: 120px;
  position: absolute;
  width: 190px;
  height: 10px;
  text-decoration: none;
}
.slider {
  width: 35%;
  height: 75vh;
  overflow: hidden;
  background-color: $background-color_2;
  ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 30s infinite normal ease-in-out;
    color: $color_2;
    font-family: $font-family_1;
  }
  li {
    width: 100%;
    padding: 3%;
    list-style: none;
  }
  h5 {
    font-size: 35px;
    margin-top: 10%;
  }
  p {
    font-size: 17px;
    margin-top: 13em;
  }
}

/* section 2 */
.s2 {
  width: 100%;
  height: 66vh;
  background-color: $background-color_3;
  padding: 2.5% 12%;
  display: flex;
  justify-content: space-evenly;
  img {
    width: 535px;
    height:475px;
    margin-top: 3.5%;
  }
}
.s2_content {
  margin-top: 6%;
  margin-left: 8%;
  width: 600px;
  h2 {
    font-size: 54px;
    text-shadow: 3px 12px 16px #9796998a;
    font-weight: 300;
    font-family: $font-family_1;
    margin-bottom: 5%;
  }
  p {
    font-size: 18px;
    font-family: $font-family_2;
    color: $color_3;
    margin-top: 2%;
    line-height: 1.57;
  }
}

/* section 3 */
.s3 {
  width: 100%;
  height: 44vh;
  background-color: rgba(246, 244, 244, 0.76);
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    font-size: 60px;
    font-family: $font-family_1;
    color: $color_4;
    margin-top: 3%;
    margin-bottom: 4%;
    background: #757592;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(248, 247, 247, 0.5);
  }
}
.s3_content {
  width: 90%;
  padding: 0% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont1 {
  margin-left: 8%;
  margin-top: 0%;
  p {
    font-size: 20px;
    margin-top: 6%;
    line-height: 1.3;
    font-family: $font-family_2;
  }
}
.cont2 {
  margin-left: 8%;
  p {
    font-size: 20px;
    margin-top:12%;
    line-height: 1.3;
    font-family: $font-family_2;
  }
}

/* section 4 */
.s4 {

  width: 100%;
  height: 82vh;
  background-color: $background-color_3;
  display: flex;
  justify-content: center;
}
.s4_content {
  width: 1600px;
  h2 {
    font-size: 50px;
    font-family: $font-family_1;
    font-weight: 300;
    color: $color_3;
    text-align: center;
    margin-top: 4.5%;
  }
  h3 {
    font-size: 26px;
    color: $color_5;
    font-weight: 300;
    text-align: center;
    font-family: $font-family_1;
    margin-top: 1%;
  }
}
.box {
  text-align: center;
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  img {
    width: 430px;
  }
}
.box1 {
  padding-right: 4.5%;
  i {
    margin-bottom: 5%;
    color: $color_6;
    font-size: 40px;
  }
  h4 {
    font-size: 22px;
    font-family: $font-family_1;
  }
  p {
    font-size: 16px;
    color: $color_5;
    font-family: $font-family_2;
    margin-top: 3%;
  }
}
.box2 {
  padding-left: 5%;
  i {
    color: $color_6;
    margin-bottom: 5%;
    font-size: 40px;
    margin-top: 12%;
  }
  h4 {
    font-size: 22px;
    font-family: $font-family_1;
  }
  p {
    margin-top: 3%;
    font-size: 16px;
    color: $color_5;
    font-family: $font-family_2;
  }
}

/* section 5 */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 7));
  }
}
.s5 {
  width: 100%;
  height: 37vh;
  -webkit-box-shadow: -2px -15px 33px -1px rgba(211, 211, 211, 0.96);
  box-shadow: -2px -15px 33px -1px rgba(236, 231, 231, 0.96);
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}


.free-oku {
  background-color: $background-color_1;
  -webkit-box-shadow: 1px -1px 39px -1px rgba(188, 188, 188, 0.96);
  box-shadow: 1px -1px 39px -1px rgba(188, 188, 188, 0.96);
  width: 1050px;
  height: 180px;
  position: absolute;
  z-index: 2;
  top: -90px;
  border-radius: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  p {
    text-decoration: none;
    color: $color_3;
    font-family: $font-family_1;
    font-size: 32px;
    margin-top: 4%;
    margin-left: 2%;
  }
}

.btn4 {
  width: 200px;
  height: 60px;
  margin-right: 2%;
  p {
    font-size: 18px;
    margin-top: 8%;
    color: $color_2;
  }
}
.slider2 {
  background: white;
  height: 100px;
  margin-top: 6.5%;
  overflow: hidden;
  position: relative;
  width: 90%;
  &::before {
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
    left: 0;
    top: 0;
  }
  &::after {
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slide-track {
    animation: scroll 18s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(250px * 14);
  }
  .slide {
    width: 250px;
    margin-left: 3%;
  }
}


/* Responsive  */
@media all and (min-width:1200px) and (max-width: 1919px) {
	.menu_desk {
		margin: 33px;
		a {
			font-size: 15.5px;
		}
	}
	.aline {
		width: 130px;
		height: 40px;
		margin-top: 1%;
		margin-right: 2%;
	}
	.register_text {
		p {
			font-size: 15px;
		}
	}
	.logo_picture {
		width: 120px;
	}
	.log-in {
		margin-top: 15px;
	}
	.s1_content {
		img {
			width: 230px;
			height: 230px;
		}
	}
	.txt {
		width: 58%;
		margin-bottom: 30px;
		h1 {
			font-size: 50px;
		}
		p {
			font-size: 17px;
		}
	}
	.btn-s1 {
		top: 520px;
	}
	.btn1 {
		width: 150px;
		height: 45px;
		p {
			font-size: 14px;
		}
	}
	.slider {
		h3 {
			font-size: 17px;
		}
		h5 {
			font-size: 30px;
		}
		p {
			font-size: 15px;
			margin-top: 50%;
		}
	}
	.s2 {
		padding: 5% 4%;
		img {
			width: 550px;
			height: 450px;
		}
	}
	.s2_content {
		width: 485px;
		margin-right: 4%;
		h2 {
			font-size: 30px;
		}
		p {
			font-size: 15px;
			line-height: 1.4;
		}
	}
	.s3 {
		h4 {
			font-size: 45px;
		}
	}
	.cont1 {
		p {
			font-size: 16px;
		}
	}
	.cont2 {
		p {
			font-size: 17px;
		}
	}
	.free-oku {
		width: 900px;
		height: 155px;
		top: -55px;
		p {
			font-size: 28px;
		}
	}
	.btn4 {
		width: 160px;
		height: 50px;
		p {
			font-size: 13px;
			color: $color_1;
		}
	}
}
@media all and (min-width: 960px) and (max-width: 1199px) {

	.s1 {
		height: 52vh;
		margin-top: 9vh;
	}
	.slider {
		width: 52%;
		height: 52vh;
		h5 {
			font-size: 37px;
		}
		p {
			font-size: 16px;
		}
	}
	.s1_content {
		width: 65%;
		display: block;
		text-align: center;
		img {
			width: 200px;
			height: 200px;
			margin-top: 10%;
		}
	}
	.txt {
		padding: 0px 60px;
		h1 {
			font-size: 53px;
			margin-top: 9%;
		}
		p {
			font-size: 17px;
		}
	}
	.btn-s1 {
		top: 690px;
		right: 200px;
	}
	.btn1 {
		width: 150px;
		height: 45px;
		p {
			font-size: 15px;
			margin-bottom: 5%;
		}
	}
	.s2 {
		height: 40vh;
		padding: 4% 3%;
		img {
			width: 540px;
			height: 450px;
		}
	}
	.s2_content {
		padding: 0px 20px;
		h2 {
			font-size: 35px;
			margin-bottom: 4%;
		}
		p {
			font-size: 14px;
			line-height: 1.4;
		}
	}
	.s3 {
		height: 27vh;
		padding: 3%;
		h4 {
			font-size: 53px;
			margin-bottom: 2%;
			margin-top: 1%;
		}
	}
	.cont1 {
		p {
			font-size: 17px;
		}
	}
	.cont2 {
		p {
			font-size: 17px;
		}
	}

	.s4 {
		height: 56.5vh;
	}
	.tamaño {
		width: 240px !important;
	}
	.box {
		margin-top: 1%;
		padding: 2% 5%;
		img {
			width: 350px;
		}
	}
	.box1 {
		i {
			color: $color_2;
			font-size: 35px;
		}
		h4 {
			font-size: 21px;
		}
		p {
			margin-top: 4%;
			font-size: 15px;
		}
	}
	.box2 {
		i {
			font-size: 35px;
		}
		h4 {
			font-size: 21px;
		}
		p {
			margin-top: 4%;
			font-size: 15px;
		}
	}
	.s5 {
		height: 18vh;
	}
	.free-oku {
		width: 800px;
		height: 130px;
		p {
			margin-left: 3%;
			font-size: 26px;
		}
	}
	.btn4 {
		width: 150px;
		height: 50px;
		margin-right: 4%;
		p {
			font-size: 15px;
			color: $color_1;
		}
	}
}
@media all and (min-width: 768px) and (max-width: 958px) {
	
	.s1 {
		height: 60vh;
		margin-top: 8.5vh;
	}
	.s1_content {
		width: 80%;
		display: block;
		padding: 6% 5%;
		img {
			width: 240px;
			height: 240px;
			margin-left: 20%;
		}
	}
	.txt {
		h1 {
			font-size: 41px;
			margin-top: 11%;
		}
		p {
			margin-top: 9%;
			font-size: 15.2px;
		}
	}
	.btn-s1 {
		top: 690px;
		right: 135px;
	}
	.btn1 {
		width: 143px;
		height: 43px;
		p {
			font-size: 15px;
			margin-bottom: 5%;
		}
	}
	.slider {
		width: 80%;
		height: 60vh;
		h5 {
			font-size: 30px;
		}
		p {
			font-size: 15px;
			margin-top: 81%;
		}
	}
	.s2 {
		height: 35vh;
		padding: 3% 5%;
		img {
			width: 440px;
			height: 360px;
		}
	}
	.s2_content {
		h2 {
			font-size: 27px;
			margin-bottom: 4%;
		}
		p {
			font-size: 12px;
			line-height: 1.4;
		}
	}
	.s3 {
		padding: 7% 0%;
		height: 27vh;
		h4 {
			font-size: 45px;
		}
	}
	.cont1 {
		p {
			font-size: 16px;
		}
	}
	.cont2 {
		p {
			font-size: 16px;
		}
	}
	.s4 {
		height: 64vh;
	}
	.s6_content {
		h2 {
			font-size: 40px;
		}
		h3 {
			font-size: 20px;
		}
	}
	.box1 {
		padding-left: 4.8%;
		i {
			margin-bottom: 13%;
			font-size: 35px;
		}
		h4 {
			font-size: 21px;
			font-family: $font-family_1;
		}
		p {
			font-size: 13px;
			margin-top: 6%;
		}
	}
	.box2 {
		padding-right: 4.8%;
		i {
			font-size: 35px;
		}
		h4 {
			font-size: 21px;
		}
		p {
			margin-top: 6%;
			font-size: 13px;
		}
	}
	.box {
		img {
			width: 280px;
		}
	}
	.s5 {
		height: 18vh;
	}
	.free-oku {
		width: 700px;
		height: 140px;
		top: -95px;
		p {
			font-size: 22px;
			margin-left: 3%;
		}
	}
	.btn4 {
		width: 150px;
		height: 45px;
		p {
			font-size: 15px;
			color: $color_1;
		}
	}
}
@media all and (min-width: 599px) and (max-width: 768px) {
	.s1 {
		height: 70vh;
		margin-top: 10vh;
	}
	.s1_content {
		width: 55%;
		display: block;
		padding: 6% 6%;
		img {
			width: 200px;
			height: 200px;
			margin-left: 19%;
		}
	}
	.txt {
		h1 {
			font-size: 31px;
			margin-top: 15%;
			margin-bottom: 9%;
		}
		p {
			margin-top: 0%;
			font-size: 15px;
		}
	}
	.btn-s1 {
		top: 650px;
		right: 140px;
	}
	.btn1 {
		width: 143px;
		height: 47px;
		p {
			font-size: 15px;
			margin-bottom: 5%;
		}
	}
	.slider {
		width: 45%;
		height: 70vh;
		h5 {
			font-size: 25px;
		}
		p {
			font-size: 15px;
			margin-top: 110%;
		}
	}
	.s2 {
		height: 39vh;
		padding: 3% 5%;
		img {
			width: 370px;
			height: 340px;
		}
	}
	.s2_content {
		h2 {
			font-size: 21px;
			margin-bottom: 4%;
		}
		p {
			font-size: 12px;
			line-height: 1.4;
		}
	}
	.s3 {
		padding: 5% 0%;
		height: 27vh;
		h4 {
			font-size: 41px;
			margin-bottom: 1%;
		}
	}
	.cont1 {
		padding: 2%;
		p {
			font-size: 14px;
		}
	}
	.cont2 {
		padding: 2%;
		p {
			font-size: 14px;
		}
	}
	.s4 {
		height: 70vh;
	}
	.s6_content {
		h2 {
			font-size: 35px;
		}
		h3 {
			font-size: 18px;
		}
	}
	.box1 {
		padding-left: 4.8%;
		i {
			margin-bottom: 13%;
			font-size: 33px;
		}
		h4 {
			font-size: 20px;
			font-family: $font-family_1;
		}
		p {
			font-size: 12px;
			margin-top: 6%;
		}
	}
	.box2 {
		padding-right: 4.8%;
		i {
			font-size: 33px;
		}
		h4 {
			font-size: 20px;
		}
		p {
			margin-top: 6%;
			font-size: 12px;
		}
	}
	.box {
		img {
			width: 280px;
		}
	}
	.s5 {
		height: 18vh;
	}
	.free-oku {
		width: 700px;
		height: 140px;
		top: -100px;
		p {
			font-size: 21px;
			margin-left: 4%;
		}
	}
	.btn4 {
		width: 150px;
		height: 45px;
		margin-right: 2%;
		p {
			font-size: 14.8px;
			color: $color_1;
		}
	}
	.slider2 {
		.slide {
			width: 200px;
			margin-left: 3%;
		}
	}
}
@media all and (max-width: 479px) {

	.s1 {
		height: 70vh;
		margin-top: 10vh;
	}
	.s1_content {
		width: 100%;
		display: block;
		padding: 10% 11%;
		img {
			width: 200px;
			height: 200px;
			margin-left: 19%;
		}
	}
	.txt {
		h1 {
			font-size: 35px;
			margin-top: 12%;
			margin-bottom: 9%;
		}
		p {
			margin-top: 0%;
			font-size: 16px;
		}
	}
	.btn-s1 {
		top: 610px;
		right: 130px;
	}
	.btn1 {
		width: 141px;
		height: 43px;
		p {
			font-size: 13.5px;
			margin-top: 8%;
		}
	}
	.slider {
		display: none;
	}
	.s2 {
		height: 84vh;
		padding: 7% 0%;
		display: block;
		img {
			width: 320px;
			height: 300px;
			margin-left: 17%;
		}
	}
	.s2_content {
		width: 100%;
		margin-left: 0%;
		padding: 0% 10%;
		margin-top: 6%;
		h2 {
			font-size: 33px;
			text-align: center;
			margin-bottom: 7%;
		}
		p {
			font-size: 16px;
			text-align: center;
			line-height: 1.4;
		}
	}
	.s3 {
		padding: 10% 5%;
		height: 95vh;
		h4 {
			font-size: 36px;
			margin-bottom: 8%;
			text-align: center;
		}
	}
	.s3_content {
		display: block;
		text-align: center;
	}
	.cont1 {
		padding: 0%;
		lottie-player {
			margin-left: 38%;
		}
		p {
			margin-top: 0%;
			font-size: 17px;
			padding: 6%;
		}
	}
	.cont2 {
		lottie-player {
			margin-left: 40%;
			margin-top: 8%;
		}
		padding: 0%;
		p {
			font-size: 17px;
			margin-top: 5%;
			padding: 6%;
		}
	}
	.s4 {
		height: 121vh;
	}
	.s6_content {
		h2 {
			margin-top: 10%;
			font-size: 35px;
		}
		h3 {
			font-size: 16px;
			margin-bottom: 5%;
		}
	}
	.box {
		display: block;
		img {
			margin-top: 12%;
			margin-bottom: 8%;
			width: 280px;
		}
	}
	.box1 {
		padding: 3% 12%;
		i {
			margin-bottom: 13%;
			font-size: 33px;
		}
		h4 {
			font-size: 20px;
			font-family: $font-family_1;
		}
		p {
			font-size: 12px;
			margin-top: 6%;
		}
	}
	.box2 {
		padding: 3% 12%;
		i {
			font-size: 33px;
		}
		h4 {
			font-size: 20px;
		}
		p {
			margin-top: 6%;
			font-size: 12px;
		}
	}
	.s5 {
		height: 20vh;
	}
	.free-oku {
		width: 85%;
		height: 80px;
		top: -60px;
		p {
			font-size: 15px;
			padding-left: 10%;
			margin-left: 1%;
		}
	}
	.btn4 {
		width: 180px;
		height: 30px;
		margin-right: 7%;
		p {
			font-size: 10px;
			margin-right: 10%;
		}
	}
	.slider2 {
		margin-top: 11%;
		.slide {
			width: 200px;
			margin-left: 3%;
		}
	}
}

