<section class="s1">
  <div class="slider">
    <ul>
      <li>
        <h3>Comparte sin limites.</h3>
        <h5>
          Manten tu vida organizada, sube todos los archivos que quieras y
          accede a ellos desde cualquier dispositivo.
        </h5>
        <p>
          Oku viene para quedarse. Conviertelo en una de tus plataformas
          favoritas para subir archivos a la nube. Trabajar desde cualquier lado
          nunca habíasido tan sencillo. Ademas ¡Es totalmente gratis!
        </p>
      </li>
      <li>
        <h3>Accede desde cualquier dispositivo</h3>
        <h5>
          Tanto en movil como en ordenador o tablet, accede a tu cuenta desde
          cualquier plataforma para subir tus archivos
        </h5>
        <p>
          Oku te ofrece una interfaz adaptable a cualquier dispositivo para que
          subir archivos siempre sea comodo, rapido, sencillo y eficaz.
        </p>
      </li>
      <li>
        <h3>Sin limite de capacidad</h3>
        <h5>
          Al contrario que otras plataformas,Oku te permite subir cualquier
          archivo sin limites de espacio o capacidad
        </h5>
        <p>
          ¡Insuperable! No tendrás que pagar por aumentar tu espacio en la
          cuenta, podrás añadir tantos archivos como quieras. No hay ningun tipo
          de restriccion
        </p>
      </li>
    </ul>
  </div>
  <div class="s1_content">
    <img src="../../assets/img/logo2.png" alt="" />
    <div class="txt">
      <h1>Sube archivos <br />de forma ilimitada</h1>
      <p>Descubre una nueva forma de guardar tus archivos en la nube</p>
      <p>Trabaja de forma más comoda y segura con OKU</p>
    </div>
    <button class="btn-s1">
      <a class="main-button btn1" href="register-form.php">
        <p>Get Oku for free</p>
      </a>
    </button>
  </div>
</section>

<section class="s2" id="Oku_menu">
  <img src="../../assets/img/PRIMER-MOCKUP.png" alt="" />
  <div class="s2_content">
    <h2>El nacimiento de Oku</h2>
    <p>
      Oku nace de la necesidad de tener una plataforma capaz de subir archivos
      de manera sencilla y rapida, además de gratuita. Su interfaz moderna y
      limpia permite que en pocos pasos tengas tu archivo subido a la nube y
      listo para acceder desde cualquier dispositivo
    </p>
    <br />
    <p>
      Dejate sorprender por Oku, deja de pagar mensualidades absurdad y empieza
      a usarlo como tu plataforma favorita de subida de archivos.
    </p>
  </div>
</section>

<section class="s3" id="Funciones_menu">
  <h4>Haz mas cosas con tus archivos</h4>
  <div class="s3_content">
    <div class="cont1">
      <ng-lottie
        [options]="options"
        background="transparent"
        speed="1" width="70px" height="70px"
        loop
        autoplay
        class="cont__icon"
      ></ng-lottie>
      <p>Recibe notificaciones para estar al día de las novedades</p>
    </div>

    <div class="cont1">
      <ng-lottie
        [options]="options02"
        background="transparent"
        speed="1" width="70px" height="70px"
        loop
        autoplay
        class="cont__icon"
      ></ng-lottie>
      <p>Personaliza tu perfil a tu gusto de manera rapida</p>
    </div>

    <div class="cont1">
      <ng-lottie
        [options]="options03"
        background="transparent"
        speed="0.5"
        loop width="50px" height="50px"
        autoplay
        class="cont__icon"
      >
      </ng-lottie>
      <p>Almacena archivos con las extensiones que quieras</p>
    </div>

    <div class="cont1">
      <ng-lottie
        [options]="options04"
        background="transparent"
        speed="1"
        loop width="50px" height="50px"
        autoplay
        class="cont__icon"
      >
        autoplay></ng-lottie
      >
      <p>No tendras que actualizar la página para ver los cambios</p>
    </div>
  </div>
</section>

<section class="s4" id="Ventajas_menu">
  <div class="s4_content">
    <h2>Al siguiente nivel</h2>
    <h3>Descubre todas las posibilidades"</h3>
    <div class="box">
      <div class="box1">
        <div>
          <h4>Libreria</h4>
          <p>
            Accede a tu libreria desde tu perfil o busca tus archivos en la
            barra de busqueda para encontrarlos mas facilmente
          </p>
        </div>
        <div style="margin-top: 18%">
          <h4>Multi-plataforma</h4>
          <p>
            Accede desde cualquier dispositivo. Solo tendras que loguearte y ya
            podras decargar tus archivos, sea móvil o tablet
          </p>
        </div>
      </div>
      <img src="../../assets/img/unnamed2.png" alt="" />
      <div class="box2">
        <div>
          <div>
            <h4>Notificaciones</h4>
            <p>
              Recibe notificaciones para estar al dia. Cualquier novedad se vera
              reflejada en tu perfil :)
            </p>
          </div>
        </div>
        <div>
          <div style="margin-top: 18%">
            <h4>Soporte</h4>
            <p>
              Si necesitas ayuda escribenos en nuestra opcion de soporte. Lo
              miraremos y contestaremos lo más rapido posible
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="s5">
  <div class="free-oku">
    <p>Sube archivos cuando quieras, donde quieras.</p>
    <button class="btn4 main-button">
      <a href="register-form.php">
        <p>Get Oku for free</p>
      </a>
    </button>
  </div>
  <div class="slider2">
    <div class="slide-track">
      <div class="slide">
        <img
          src="../../assets/img/logo-Intel.png"
          alt=""
          style="width: 120px"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/img/tesla-logo-2.png"
          alt=""
          style="width: 220px"
        />
      </div>
      <div class="slide">
        <img src="../../assets/img/google.png" alt="" style="width: 200px" />
      </div>
      <div class="slide">
        <img
          src="../../assets/img/Netflix_logo.svg.png"
          alt=""
          style="width: 150px"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/img/2560px-Deloitte.svg.png"
          alt=""
          style="width: 200px"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/img/2560px-HubSpot_Logo.svg.png"
          alt=""
          style="width: 200px"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/img/tesla-logo-2.png"
          alt=""
          style="width: 220px"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/img/logo-Intel.png"
          alt=""
          style="width: 120px"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/img/tesla-logo-2.png"
          alt=""
          style="width: 220px"
        />
      </div>
      <div class="slide">
        <img src="../../assets/img/google.png" alt="" style="width: 200px" />
      </div>
      <div class="slide">
        <img
          src="../../assets/img/Netflix_logo.svg.png"
          alt=""
          style="width: 150px"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/img/2560px-Deloitte.svg.png"
          alt=""
          style="width: 200px"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/img/2560px-HubSpot_Logo.svg.png"
          alt=""
          style="width: 200px"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/img/tesla-logo-2.png"
          alt=""
          style="width: 220px"
        />
      </div>
    </div>
  </div>
</section>
