$font-family_1: "circular";
$font-family_2: "circular";
$color_4: white;
$color_5: #fff;

$background-color_1: rgb(222, 215, 240);
$background-color_2: rgb(255, 255, 255);

/* HOME */
.buscador {
  background-color: rgb(171, 235, 163);
  width: 100%;
  height: 100%;
}
.search-bar {
  width: 100%;
  height: 200px;
}

.search {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
}
.profile-picture {
  width: 50%;
  height: 100%;
  background-color: red;
}
.container {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  background-image: url(../../../assets/img/ILUS3.PNG);
  background-size: contain;
  background-repeat: no-repeat;
}
.info {
  width: 7em;
  padding: 25px 30px;
  height: 70px;
  background-color: $background-color_1;
  margin-left: 30%;
  border-radius: 5px;
}
.tlt {
  font-size: 18px;
  font-family: $font-family_1;
  margin-top: -1em;
}
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  margin-top: 3em;
  background-color: $background-color_2;
  text-align: center;
  iframe {
    border-radius: 5px;
    text-align: center;
    border: 8px solid rgba(193, 199, 235, 0.863);
  }
}
.video-frame {
  width: 400px;
  height: auto;
}
.redirection {
  margin-top: 1em;
}

.main-button {
  background-image: linear-gradient(
    to right,
    #6363d3 0%,
    #1e287c 51%,
    #5454ee 100%
  );
  text-align: center;
  font-family: $font-family_2;
  transition: 0.5s;
  border-radius: 35px !important;
  background-size: 200% auto;
  color: $color_4;
  display: block;
  cursor: pointer;
  border-bottom: 5px solid rgb(148, 138, 243);
  border-right: 5px solid rgb(148, 138, 243);
  border-left: 5px solid rgb(148, 138, 243);
  border-top: 5px solid rgb(148, 138, 243);
  &:hover {
    background-position: right center;
    color: $color_5;
    text-decoration: none;
  }
  a {
    color: $color_4;
  }
}

.size {
  width: 145px;
  height: 45px;
}

@media all and (min-width: 479px) and (max-width: 599px) {
  .redirection {
    padding: 1em;
  }
}

// @media all and (min-width: 1200px) and (max-width: 1919px) {
//   .info {
//     width: 35%;
//     height: 55px;
//     padding: 19px 25px;
//   }
//   .tlt {
//     font-size: 16px;
//   }
//   .container {
//     height: 97vh;
//     background-position: 56% 24%;
//     background-size: 390px;
//   }
//   .video {
//     margin-top: 5%;
//     iframe {
//       width: 50%;
//       height: 220px;
//     }
//   }
//   .redirection {
//     margin-top: 19%;
//     margin-left: 49%;
//   }
//   .size {
//     width: 135px;
//     height: 45px;
//   }
// }
// @media all and (min-width: 960px) and (max-width: 1199px) {
//   .info {
//     width: 35%;
//     height: 55px;
//     padding: 19px 25px;
//     margin-top: 2%;
//   }
//   .tlt {
//     font-size: 16px;
//   }
//   .container {
//     height: 56.5vh;
//     background-position: 62% 24%;
//     background-size: 420px;
//   }
//   .video {
//     width: 73%;
//     margin-top: 7%;
//     iframe {
//       width: 58%;
//       height: 220px;
//     }
//   }
//   .redirection {
//     margin-top: 27%;
//     margin-left: 51%;
//   }
//   .size {
//     width: 130px;
//     height: 42px;
//   }
// }
// @media all and (min-width: 768px) and (max-width: 958px) {
//   .info {
//     width: 35%;
//     height: 55px;
//     padding: 19px 25px;
//     margin-top: 0%;
//   }
//   .tlt {
//     font-size: 16px;
//   }
//   .container {
//     height: 56vh;
//     background-position: 67% 18%;
//     background-size: 360px;
//   }
//   .video {
//     width: 70%;
//     margin-top: 7%;
//     margin-left: 25%;
//     iframe {
//       width: 50%;
//       height: 180px;
//     }
//   }
//   .redirection {
//     margin-top: 29%;
//     margin-left: 52%;
//   }
//   .size {
//     width: 125px;
//     height: 42px;
//   }
// }
// @media all and (min-width: 599px) and (max-width: 768px) {
//   .info {
//     width: 35%;
//     height: 55px;
//     padding: 19px 25px;
//     margin-top: 1%;
//     margin-left: 35%;
//   }
//   .tlt {
//     font-size: 16px;
//   }
//   .container {
//     height: 77.3vh;
//     background-position: 72% 17%;
//     background-size: 380px;
//   }
//   .video {
//     width: 90%;
//     display: block;
//     margin-top: 10%;
//     margin-left: 35%;
//     iframe {
//       width: 50%;
//       height: 170px;
//       margin-bottom: 3%;
//     }
//   }
//   .redirection {
//     margin-top: 33%;
//     margin-left: 53%;
//   }
//   .size {
//     width: 120px;
//     height: 42px;
//   }
// }
